.intro-screen {
  padding-top: 20px;
  width: 100%;
  animation: reveal 0.3s ease-in;
}

@media (prefers-reduced-motion: reduce) {
  .intro-screen {
    animation: none;
  }
}

.intro-heading,
.intro-description {
  text-align: center;
}

.intro-progress-bar {
  border-radius: 0 !important;
}

.intro-progress-bar .bp5-progress-meter {
  border-radius: 0 !important;
}

@keyframes reveal {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
