.locale-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 500px;
  margin: 20px auto;
}

.locale-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.locale-content .locale-radio {
  margin: 0;
}
