.heading {
  margin: 0 12px;
  padding: 6px 0;
  border-bottom: 1px dotted #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading__branding {
  display: flex;
  align-items: center;
  gap: 6px;
}

.heading__logo,
.heading__zen {
  height: 20px;
  width: auto;
  fill: rgb(28, 33, 39);
}

#app.bp5-dark .heading__logo,
#app.bp5-dark .heading__zen {
  fill: #fff;
}
