@import 'inter.css';
@import 'normalize.css';
@import '@blueprintjs/core/lib/css/blueprint.css';
@import '@blueprintjs/icons/lib/css/blueprint-icons.css';

@font-face {
  font-family: 'Twemoji Country Flags';
  unicode-range: U+1F1E6-1F1FF, U+1F3F4, U+E0062-E0063, U+E0065, U+E0067, U+E006C, U+E006E, U+E0073-E0074, U+E0077,
    U+E007F;
  src: url('./assets/fonts/TwemojiCountryFlags.woff2') format('woff2');
  font-display: swap;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-feature-settings:
    'liga' 1,
    'calt' 1;
  font-variation-settings: 'opsz' 24;
}

@supports (font-variation-settings: normal) {
  html,
  body {
    font-family: InterVariable, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  }
}
